*{
  margin: 0;
}

body{
  background-color: rgb(56, 56, 56);
}

hr{
  border: 0.1px solid black;
}

.Navbar{
  width: 100%;
  text-align: center;
  background-color: black;
  height: auto;
  box-shadow: 0px 2px 2px black;
}

.Navbar .link{
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.Navbar .link:hover{
  background-color: rgb(61, 61, 61);
}

.CardSlider{
  margin: 5%;
  height: auto;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: inset 0px 0px 22px 12px black;
}

.CardSlider button{
  background-color: rgb(51, 51, 51);
  border: none;
  color: white;
  text-align: center;
}

.Card{
  display: inline-block;
  margin: 5px;
}

.Card img{
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.Card img:hover{
  opacity: 70%;
}

.prev-btn, .next-btn{
  border-radius: 100%;
  margin: 0;
  position: absolute;
  transform: translateY(-110px);
  width: 20px;
  height: 20px;
}

.next-btn{
  right: calc(5% + 10px);
}

@keyframes slideLeft {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(90px);
  }
}

@keyframes slideRight {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-90px);
  }
}